@import "mixins";

.about {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .about__title {
    @include header-style(3rem);
    line-height: normal;
  }
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // width: 1200px;
    width: 100%;
    max-width: 1200px;
    gap: 1rem;
    margin-top: 3rem;
    flex-wrap: wrap; // allow wrapping for smaller screens
    color: #fff8f0;
    .about-paragraph {
      width: 800px;
      padding: 1.5rem;
      text-align: center;
      border-radius: 1.5rem;

      h1,
      p {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
}

/* For large screens: lay out experience items as cards in a row/grid */
@media (min-width: 1024px) {
}

@media (max-width: 768px) {
  .about {
    .about-container {
      width: 85%;
      // gap: 1rem;
      .about-paragraph {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .about {
    .about__title {
      @include header-style(2.5rem);
      line-height: normal;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    margin-top: 2.5rem;
    .about-container {
      padding: 0 0.5rem;

      .about-paragraph {
        padding: 0rem;
        p {
          font-size: 1.2rem;
          // text-align: justify;
        }
      }
    }
  }
}
